@import url('https://fonts.cdnfonts.com/css/movistar-text');

* {
  margin: 0;
  padding: 0;
  font-family: 'Movistar Text', sans-serif;
}

.body {
  height: 100vh;
  width: 100vw;
}

.lib {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #E2D1F9;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -400px;
  z-index: 1;
  width: 300px;
  padding: 1.5rem 2rem;
  display: grid;
  background-color: #E2D1F9;
  box-shadow: 0 0 40px black;

  grid-template-rows: 30px repeat(3, 70px) 40px 50px 1fr;
  align-items: start;
  transition: 0.5s;
}

#sidebar #close-side {
  font-size: 2rem;
  display: flex;
  align-self: center;
  justify-self: end;
  cursor: pointer;
}

#sidebar #close-side:hover {
  color: red;
}

#sidebar > div{
  display: flex;
  align-items: center;
}

#sidebar > div:nth-child(-n+4){
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#sidebar > div:nth-child(5){
  display: flex;
  align-items: center;
}

#sidebar label {
  font-size: 1rem;
  padding: 0 15px 2px 5px;
}

#sidebar input {
  padding: 5px 10px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
}

#sidebar > div:nth-child(6) {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#sidebar button {
  height: 2.5rem;
  background-color: #317773;
  color: white;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar button:hover {
  background-color: lightseagreen;
}

.header {
  grid-area: 1/1/2/2;
  color: white;
  background-color: #317773;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-size: 2.5rem;
  box-shadow: 0 0 40px black;
}

#open-side {
  font-size: 3rem;
  justify-self: start;
  align-content: center;
  padding: 0 0 0 20px;
  cursor: pointer;
}

#open-side:hover {
  color: lightseagreen;
}

.main {
  grid-area: 2/1/3/2;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: 250px;
  gap: 20px;
  overflow-y: auto;
  padding: 30px;
}

.card {
  background-color: #317773;
  color:white;
  border-radius: 20px;
  padding: 15px;
  display: grid;
  grid-template-rows: 2.5fr 0.5fr 1fr 1fr 2fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  transition: 0.25s;
}

.card:hover {
  box-shadow: 0px 0px 5px black;
}

.title {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

hr {
  background-color: #E2D1F9;
  width: 90%;
}

.author, .pages {
  justify-self: start;
  padding: 0 0 0 6%;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.read {
  width: 95%;
  background-color: lightseagreen;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 0.2em 0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  justify-self: end;
}

.read:hover {
  background-color: #E2D1F9;
  color: black;
}

.remove {
  font-size: 2rem;
  display: flex;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.remove:hover {
  color: red;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

button {
  display: grid;
  justify-items: center;
  align-items: center;
}